<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>599</real>
	<key>NSStatusItem Preferred Position Item-1</key>
	<real>558</real>
	<key>NSWindow Frame com.sindresorhus.Preferences.FrameAutosaveName</key>
	<string>557 372 397 309 0 0 1512 948 </string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2025-11-21T09:33:03Z</date>
</dict>
</plist>
